/*  _foot.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

footer
  +flex
  width: 100vw
  padding: 40px

  +tablet
    padding: 75px 100px 50px 150px

  .top
    height: 100%
    padding-bottom: 10px

    +tablet
      min-height: 125px
      padding-bottom: 0

  .bottom
    padding-bottom: 30px

    +tablet
      padding-bottom: 0

  .col1, .col2
    flex: 1 0 100%

    +tablet
      flex: 0 0 auto
      padding-right: 40px

    +desktop
      padding-right: 100px

  .col3
    +flex
    flex-direction: column
    flex: 0 0 100%

    .top, .bottom

      +tablet
        width: 300px
        align-self: flex-end

    h3
      margin-bottom: 12px

    .bottom
      h3
        margin-top: 8px

    +tablet
      flex: 1 0 auto

  h3, p
    margin-bottom: 8px

  .col1 .bottom, .col2 .bottom
    padding-top: 20px
 
.foot-form
  .form-email
    height: 30px
    width: 190px

  .form-submit, .contain-input
    margin-bottom: 15px

    +tablet
      display: inline-block

  .contain-input
    position: relative
    width: 240px
    height: 35px
    padding-left: 25px

    &:before, &:after
      position: absolute
      top: 3px
      padding-left: 23px
      padding-top: 23px
      transform: rotate(45deg)

    &:before
      left: -12px

    &:after
      right: -12.5px

.social-box
  +flex($b: flex-start)

  svg
    width: 25px
    height: 25px
    margin-right: 15px

    .cls-1
      transition: 0.3s fill

    &:hover
      .cls-1
        fill: $white


/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */

footer
  background: url('../assets/svg/king-bean-stamp.svg')
  background-color: $beige
  background-size: 120% 120%
  background-position: 0 -40px
  background-repeat: no-repeat
  font-family: 'UniversLT-Condensed', sans-serif
  font-size: 0.7em
  letter-spacing: 0.07em
  text-transform: uppercase

  .col1 p, .col1 p a, .col2 p, .col2 p a, 
    color: $white
    transition: 0.3s color

    &:hover
      color: $gold

  
  .col1 h3, .col2 h3
    color: $gold

  .col3 h3
    color: $white

  .col1 .bottom, .col2 .bottom
    border-top: 2px solid $gold

  .col2 .bottom
    font-size: 0.7em

    p, p a
      color: $gold
  
.foot-form
  font-family: 'UniversLT-Condensed', sans-serif
  
  .form-email, .form-submit
    background-color: transparent
    border: none

  .form-submit
    font-family: 'UniversLT-Condensed', sans-serif
    color: $white
    letter-spacing: 0.07em
    text-transform: uppercase
    transition: 0.3s color

    &:hover
      color: $gold

  .form-email
    font-family: 'UniversLT-Condensed', sans-serif
    color: $gold
    text-transform: uppercase
    font-size: 0.8em
    letter-spacing: 0.07em

    +placeholder
      font-family: 'UniversLT-Condensed', sans-serif
      color: $gold
      text-transform: uppercase
      font-size: 1em
      letter-spacing: 0.07em

  .contain-input
    border-top: 2px solid $gold
    border-bottom: 2px solid $gold

    &:before, &:after
      content: " "

    &:before
      border-top: 2px solid $gold
      border-right: 2px solid $gold

    &:after
      border-bottom: 2px solid $gold
      border-left: 2px solid $gold
