/*  _learnroaster.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

.roaster
  margin-bottom: 100px
  > h3
    width: 73%
    margin: 100px auto

    +tablet
      width: 850px

    +desktop
      width: 950px

.facts
  +flex
  width: 100%
  margin: 0 auto

  +tablet
    width: 750px

  .image, .copy 
    flex: 0 0 100%

    +tablet
      flex: 0 0 50%
  
  .image
    order: 2

    +tablet
      order: 1

  .copy
    order: 1

    +tablet
      order: 2

  .image
    img 
      display: block
      width: 250px
      margin: 0 auto

    +tablet
      padding-right: 75px
      width: 100%

  .copy
    > h3
      width: 200px
      margin: 0 auto

    > .data
      margin-top: 20px

    > p
      width: 290px
      margin: 30px auto
      text-align: center

      +tablet 
        width: 310px

    > p 
      svg
        width: 150px
        height: 37px

      +tablet
        width: 200px
        height: 49px

.data
  .num
    position: relative
    margin-bottom: 16px

    &:after
      content: " "
      padding-top: 20px
      padding-left: 46px
      position: absolute
      bottom: -25px
      left: calc(50% - 23px)

      +tablet
        padding-left: 60px
        left: calc(50% - 30px)


/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */

.roaster
  > h3
    font-family: 'UniversLT-Condensed', sans-serif
    font-size: 1.2em
    letter-spacing: 0.07em
    line-height: 1.4em
    color: $beige
    text-align: center

    +tablet
      font-size: 1.8em

.facts
  > .copy
    > h3
      font-family: 'UniversLT-CondensedBold', sans-serif
      font-size: 1.2em
      letter-spacing: 0.07em
      line-height: 1.4em
      color: $beige
      text-align: center
      text-transform: uppercase

    > p
      font-family: 'UniversLT-Condensed', sans-serif
      font-size: 1em
      letter-spacing: 0.07em
      line-height: 1.2em
      color: $beige
      text-align: center

.data
  > .num, .unit
    font-family: 'Copperplate-Med', sans-serif
    letter-spacing: 0.07em
    color: $gold
    text-align: center

  > .num
    font-size: 2em

    &:after
      background-image: url('../assets/svg/unit-bar.svg')
      background-repeat: no-repeat

  > .unit
    font-size: 1em



