/* _learninnernav.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

.learn-nav
  margin-top: 100px
  
.links
  +flex
  flex-direction: column
  margin: 0 auto
  width: 100%

  +tablet
    flex-direction: row
    width: 350px

  li
    display: inline-block
    margin: 2px auto


/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4 */

.links
  font-family: 'Copperplate-Med', sans-serif
  font-size: 0.8em
  letter-spacing: 0.08em
  text-transform: uppercase
  text-align: center

  a
    color: $gold
    transition: 0.3s color

    &:hover
      color: $beige