/*  _nav.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

nav
  position: relative
  z-index: 100

.special-offer
  width: 100vw
  height: 35px
  padding-top: 12px

.navigation
  +flex
  width: 100vw
  height: 120px
  position: fixed
  top: 0
  left: 0
  padding-left: 20px
  padding-right: 20px
  padding-top: 55px

  +tablet
    height: 165px
    left: calc(50% - 50vw)
    padding-right: 40px
    padding-left: 40px
    padding-top: 65px
    top: 0

  .menu-toggle
    flex: 0 0 50px
    margin-top: 8px
    position: relative
    z-index 200

    +tablet
      margin-top: 15px

    +tablet
      flex: 0 0 70px
      margin-top: 10px

  .brand-logo
    flex: 0 0 auto
    svg
      width: 140px
      height: 28px
      margin: 5px auto

      +tablet
        width: 300px
        height: 45px

  .shop-link
    flex: 0 0 50px
    text-align: right

    +tablet
      flex: 0 0 70px

    a 
      > svg
        width: 20px
        height: 28px
        margin-top: 5px

        +tablet
          width: 38px
          height: 53px
          margin-top: 0

/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4  */

.navigation
  background-color: transparent
  transition: 0.4s background-color ease
  

.special-offer
  font-family: 'UniversLT-Condensed', sans-serif
  font-size: 0.65em  
  background-color: $beige
  color: $white
  letter-spacing: 0.1em
  text-transform: uppercase
  text-align: center

.menu-toggle a
  font-family: 'Copperplate-Med', sans-serif
  text-transform: uppercase
  font-size: 10px
  letter-spacing: 0.15em
  color: $beige
  cursor: pointer
  transition: 0.3s color

  +tablet
    font-size: 18px

  &:hover
    color: $gold

  +tablet
    font-size: 18px 

.brand-logo
  .kb-logo-text-cls-1
    transition: 0.3s fill

  &:hover
    .kb-logo-text-cls-1
      fill: $gold
      

.shop-link
  .kb-seal-cls-2
    transition: 0.3s fill

  &:hover
    .kb-seal-cls-2
      fill: $beige

.opaque
  background-color: $white
  transition: 0.4s background-color ease

.white 
  .menu-toggle a
    color: $white

    &:hover
      color: $gold

  .kb-logo-text-cls-1
    fill: $white

  .brand-logo
    &:hover
      .kb-logo-text-cls-1
        fill: $gold
