/* _wholesalerepeater.sass */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */
/* INCEPTION RULE: DO NOT nest more than 4  */

.wholesale-repeater

  .repeater
    z-index: 50

    +tablet
      margin-bottom: 200px

    h3
      margin: 20px auto 20px

      +tablet
        margin: 60px auto

    &:after

      +tablet
        content: " "
        padding-top: 500px
        padding-left: 500px
        position: relative
        bottom: -400px
        left: calc(50% - 250px)

  .repeater:nth-child(odd)
    position: relative

    .image
      +tablet
        order: 1
    .copy
      +tablet
        order: 2

  .repeater:nth-child(even)

    .image
      +tablet
        order: 2
    .copy
      +tablet
        order: 1

  .repeater:last-child
    margin-bottom: 100px

    &:after
      padding-top: 0
      padding-left: 0
      bottom: 0
      left: 0

  .content
    +flex
    width: 80%
    margin: 0 auto

    +tablet
      width: 880px

    +desktop
      width: 960px

  .image, .copy
    flex: 0 0 100%
    margin-bottom: 30px

    +tablet
      flex: 0 0 50%

  .copy 
    p
      +tablet
        width: 370px

  .image
    +img($c: contain)
    height: 140px
    align-self: center
    position: relative
    z-index: 100

    +tablet
      height: 250px


/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */
/* INCEPTION RULE: DO NOT nest more than 4 */

.wholesale-repeater
  h3
    color: $gold
    font-family: 'DINEngschriftStd', sans-serif
    font-size: 2.6em
    letter-spacing: 0.08em
    line-height: 1.2em
    text-transform: uppercase
    text-align: center

  .image
    +img($c: contain)

  .repeater
    .copy
      color: $beige
      font-family: 'UniversLT-Condensed', sans-serif
      font-size: 0.8em
      letter-spacing: 0.08em
      line-height: 1.4em

      +tablet
        font-size: 1.1em

  .repeater:nth-child(odd)

    &:after
      +img($c: contain)
      background-image: url('../assets/svg/lead-lr.svg')

  .repeater:nth-child(even)

    &:after
      +img($c: contain)
      background-image: url('../assets/svg/lead-rl.svg')

  .repeater:last-child

    &:after
      background-image: none
