@import url("//hello.myfonts.net/count/33b22e");

  
@font-face {font-family: 'Copperplate-Bol';src: url('webfonts/33B22E_0_0.eot');src: url('webfonts/33B22E_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/33B22E_0_0.woff2') format('woff2'),url('webfonts/33B22E_0_0.woff') format('woff'),url('webfonts/33B22E_0_0.ttf') format('truetype');}

@font-face {font-family: 'Copperplate-Med';src: url('webfonts/33B3FF_0_0.eot');src: url('webfonts/33B3FF_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/33B3FF_0_0.woff2') format('woff2'),url('webfonts/33B3FF_0_0.woff') format('woff'),url('webfonts/33B3FF_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'UniversLT-Condensed';src: url('webfonts/33B22E_1_0.eot');src: url('webfonts/33B22E_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/33B22E_1_0.woff2') format('woff2'),url('webfonts/33B22E_1_0.woff') format('woff'),url('webfonts/33B22E_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'UniversLT-CondensedBold';src: url('webfonts/33B22E_2_0.eot');src: url('webfonts/33B22E_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/33B22E_2_0.woff2') format('woff2'),url('webfonts/33B22E_2_0.woff') format('woff'),url('webfonts/33B22E_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'DINEngschriftStd';src: url('webfonts/33B22E_3_0.eot');src: url('webfonts/33B22E_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/33B22E_3_0.woff2') format('woff2'),url('webfonts/33B22E_3_0.woff') format('woff'),url('webfonts/33B22E_3_0.ttf') format('truetype');}
 